body {
  margin: 50px 0;
  font-family: 'Roboto', sans-serif;
}
a.navbar-brand {
  font-family: 'Palanquin Dark', sans-serif;
}
img#bar-map {
  margin-bottom: 20px;
}
div#google-map {
  height: 100%;
}
form#search-results-select {
  margin-top: 10px;
}
