body {
  margin-top: 50px;
  margin-bottom: 70px;
  font-family: 'Roboto', sans-serif;
}
a.navbar-brand {
  font-family: 'Palanquin Dark', sans-serif;
}
img#bar-map {
  margin-bottom: 20px;
}
form#search-results-select {
  margin-top: 10px;
}
a#footer-link {
  color: inherit;
}
