<h3>Log in</h3>
<form action="/login" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" autofocus required>
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input type="password" class="form-control" name="password" id="login-password" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button><span class="text-danger"> <strong>{{message}}</strong></span>
</form>
<hr>
<p>Don't have an accout? Sign up <a href="/signup">here</a>.</p>
