<h3>Log in</h3>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="email" class="form-control" id="username" autofocus>
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input type="password" class="form-control" id="login-password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr>
<p>Don't have an account? Sign up <a href="/signup">here</a>.</p>
