<div class="page-header">
  <h2>Sign up</h2>
</div>
<form action="/signup" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" autofocus required>
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input type="password" class="form-control" name="password" id="login-password" required>
  </div>
  <div class="form-group">
    <label for="signup-password-confirm">Re-enter Password</label>
    <input type="password" class="form-control" name="confirmPassword" id="signup-password-confirm" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button><span class="text-danger"> <strong>{{message}}</strong></span>
</form>
<hr>
<p>Already have an account? Log in <a href="/login"><strong>here</strong></a>.</p>
